<div class="login-form-wrapper">
  <mat-card class="login-form-card">
    <h2>⚽ Orlikowo ⚽</h2>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" [formGroup]="loginForm">
        <h2>Logowanie</h2>
        <div>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Podaj swój email:</mat-label>
            <input
              formControlName="email"
              matInput
              name="email"
              placeholder="przyklad@example.com"
              required
              type="text"
            />
            <mat-error *ngIf="email?.touched && email?.errors?.required">
              Podaj email
            </mat-error>
            <mat-error *ngIf="email?.touched && email?.errors?.email">
              Podaj poprawny email
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Podaj hasło:</mat-label>
            <input
              formControlName="password"
              matInput
              name="password"
              placeholder="hasło"
              required
              type="password"
            />
            <mat-error *ngIf="password?.touched && password?.invalid">
              Podaj hasło
            </mat-error>
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button color="accent" mat-raised-button type="submit">
            Zaloguj
          </button>
          <button color="primary" mat-raised-button type="reset">Reset</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
