.register-form-wrapper {
  background-image: url("../../../assets/background.avif");
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.register-form-card {
  background-color: #fff;
  min-width: 20vw;
  min-height: 30vh;
  padding: 30px 40px;
}

.register-form-card mat-form-field {
  width: 100%;
}

.register-form-card  button {
  font-size: 1.1rem;
}


