<app-header></app-header>
<div class="content-wrapper">
  <mat-card class="information-card">
    <mat-card-title>O serwisie orlikowo słów kilka</mat-card-title>
    <mat-card-subtitle>orlikowo</mat-card-subtitle>
    <mat-card-content>
      <h2>Pomysł</h2>
      <h2>Funkcjonalności naszego serwisu</h2>

      <mat-list>
        <h3>Użytkownik</h3>
        <mat-list-item> Łatwa i przyjemna rezerwacja </mat-list-item>
        <mat-list-item>Dokonywanie oceny (komentarze, oceny)</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>

      <mat-list>
        <h3>Właściciel obiektu sportowego</h3>
        <mat-list-item>Przegląd rezerwacji (statystyki).</mat-list-item>
        <mat-list-item>Kontrola (system nagród i kar).</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>

      <mat-list>
        <h3>Pracownik obiektu sportowego</h3>
        <mat-list-item>Sprawdzanie ważności rezerwacji.</mat-list-item>
        <mat-list-item>Łatwość obsługi</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<app-footer></app-footer>
