<mat-toolbar color="primary" class="application-header">
  <mat-toolbar-row class="header-row">
    <span>⚽Orlikowo⚽</span>
    <span class="example-spacer"></span>
    <ng-container>
      <span>Obiekty</span>
      <span>Rezerwacje</span>
      <span>Moje dane</span>
      <span>
        <a [routerLink]="['/users']"> Użytkownicy </a>
      </span>
    </ng-container>
    <ng-container>
      <span>
        <a routerLink="/login">Zaloguj się</a>
      </span>
      <span>
        <a routerLink="/register">Zarejestruj się</a>
      </span>
      <span>
        <a (click)="logout()"> Wyloguj się </a>
      </span>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
