table {
  width: 100%;
}

.sport-objects-card-header {
  display: flex;
  justify-content:space-evenly;
}

.search-input {
  width: 90%;
}

td, th {
  width: fit-content
}

a {
  text-decoration: none;
  color: #000;
}

.sport-objects-container {
  margin: 10px;
}